CompileFlags:
  Add:
    - "-I${workspaceFolder}/include"
    - "-I${workspaceFolder}/include/SDL2"
    - "-I/opt/homebrew/Cellar/sdl2/2.30.11/include/SDL2"
    - "-I/usr/local/include"
    - "-I/opt/homebrew/include"
    - "-std=gnu++2b"
    - "-D__APPLE__"
    - "-DSDL_MAIN_HANDLED"
    - "-framework Cocoa"
    - "-framework IOKit"
    - "-framework CoreVideo"
Index:
  Background: true
Diagnostics:
  ClangTidy:
    Add:
      - modernize-*
      - performance-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-identifier-naming
