CompileFlags:
  CompilationDatabase: build/

Index:
  Background: true

Diagnostics:
  ClangTidy:
    Add:
      - modernize-*
      - performance-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-identifier-naming
